.present{
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 800;
}
.btn{
    background-color: aquamarine;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.btn:active{
    scale:calc(125%);
}